<app-menu-auxiliar rutaDeseada="/vehiculos" ></app-menu-auxiliar>
<div class="contenedor">
    <form action="/vehiculos" >
        <h2>Registrar Persona</h2>

        <label for="matricula">Matricula:</label>
        <input type="text" id="matricula" name="matricula" required>

        <label for="marca">Marca:</label>
        <input type="text" id="Marca" name="Marca" required>

        <label for="modelo">Modelo:</label>
        <input type="text" id="modelo" name="modelo" required>

        <input type="submit" value="Registrar">
    </form>
</div>