<app-menu-auxiliar rutaDeseada="/personas" ></app-menu-auxiliar>
<div class="contenedor">
    <form action="/personas" >
        <h2>Registrar Persona</h2>
        <label for="dni">DNI:</label>
        <input type="number" id="dni" name="dni" required>

        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>

        <label for="ciudad">Ciudad:</label>
        <input type="text" id="ciudad" name="ciudad" required>

        <label for="direccion">Dirección:</label>
        <input type="text" id="direccion" name="direccion" required>

        <label for="tipoPersona">Tipo de Persona:</label>
        <input type="text" id="tipoPersona" name="tipoPersona" required>

        <label for="telefono">teléfono:</label>
        <input type="text" id="telefono" name="telefono" required>

        <input type="submit" value="Registrar">
    </form>
</div>