<app-menu-auxiliar rutaDeseada="/documentos"></app-menu-auxiliar>
<div>
    <p-table [value]="documentos" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>DNI</th>
                <th>Tarjeta de propiedad</th>
                <th>Ciudad de expedicion</th>
                <th>Matricula</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-documento>
            <tr>
                <td>{{ documento.dni }}</td>
                <td>{{ documento.tarjetaPropiedad }}</td>
                <td>{{ documento.ciudadExpedicion }}</td>
                <td>{{ documento.matricula }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>